<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Cantidad</td>
                <td>Precio_producto</td>
                <td>Fecha</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="Producto:${productos}">
                <td th:text="${Producto.id}"></td>
                <td th:text="${Producto.nombre}"></td>
                <td th:text="${Producto.cantidad}"></td>
                <td th:text="${Producto.precio_venta}"></td>
                <td th:text="${Producto.fecha}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>