<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Producto</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <h1 th:text="${producto.id == null ? 'Nuevo Producto' : 'Editar Producto'}"></h1>
    <form th:action="@{/producto/form}" th:object="${producto}" method="post">
        <input type="hidden" name="clienteId" th:value="${clienteId}" />
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}" />
            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
        </div>
        <div>
            <label for="precio">Precio:</label>
            <input type="text" id="precio" th:field="*{precio}" />
            <div th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
        </div>
        <!-- Agrega otros campos del producto según tus necesidades -->
        <div>
            <label for="cantidad">Cantidad:</label>
            <input type="text" id="cantidad" th:field="*{cantidad}" />
            <div th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></div>
        </div>
        
        <br/>
        <button type="submit">Guardar</button>
    </form>
    <br/>
    <a th:href="@{/producto/listar/{id}(id=${clienteId})}">
        <button>Cancelar</button>
    </a>
</body>
</html>
