<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Producto</title>
</head>
<body>
    <!-- Mostrar mensajes de éxito o error -->
<div th:if="${success}" style="color: green; font-weight: bold;">
    <p th:text="${success}"></p>
</div>
<div th:if="${error}" style="color: red; font-weight: bold;">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/producto/form}" th:object="${producto}" method="post">
    <input type="hidden" th:field="*{id}">
    
    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}">
    <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color: red;"></div>

    <label>Precio:</label>
    <input type="number" th:field="*{precio}" step="0.01">
    <div th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}" style="color: red;"></div>

    <button type="submit">Guardar</button>
</form>

<a href="/producto/listar">Volver</a>

</body>
</html>
